@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    font-family: 'Tilt Neon', Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
    align-items: center;
    margin: 1rem;
    border-bottom: 1px solid #e9e9ea;
}

.logo img {
    width: 20rem;
    height: 8.5rem;
}

.nav-bar {
    display: flex;
    gap: 4rem;
    width: 60rem;
}

a {
    width: 15rem;
    font-size: 2rem;
    text-decoration: none;
    color: #494e53;
    transition: 0.1s;
}

a:hover {
    align-items: center;
    padding: 0.5rem;
    color: black;
    border-bottom: green 3px solid;
    font-weight: 700;
    overflow: hidden;
}

.nav-link span {
    visibility: hidden
}

.nav-link:hover span {
    margin-left: 2.5rem;
    visibility: visible;
}

.end-icons {
    display: flex;
    gap: 3rem;
    width: 10rem;
    margin-left: auto;
}

.end-icons i:hover {
    color: green !important;
    border-radius: 50%;
    cursor: pointer;
}

.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    background: white;
    height: 1000px;
}

.banner-info {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-radius: 25px 0 0 25px;
    height: 900px;
    width: 700px;
    background: #4FE3C1;
    padding: 40px;
}

.banner-info img {
    width: 690px;
    height: 390px;
}

.content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.content .text-header {
    font-size: 80px;
    color: white;
    font-weight: 700;
    margin: 0;
}

.content .text {
    font-size: 26px;
    color: #49597A;
    font-weight: 700;
}

.form {
    height: 90rem;
    width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form-header {
    width: 50rem;
}

.form-header .text-header {
    font-size: 22px;
    font-weight: 600;
    border-bottom: 4px solid green;
}

.form-header .text-content {
    font-size: 19px;
}

.amount {
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
}

.amount input {
    width: 22rem;
    height: 3.2rem;
    border: none;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 3px solid #E7E8EC;
}

label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #494e53
}

.amount-pair {
    display: flex;
    flex-direction: column;
}

.disability {
    display: flex;
    align-items: center;
    width: 50rem;
    margin-bottom: 4rem;
}

.disability label {
    margin-right: 2rem;
}

input.disability-check {
    width: 2rem;
    height: 2rem;
    accent-color: #4FE3C1;
}

.nssf {
    height: 2rem;
    display: flex;
    align-items: center;
    width: 50rem;
}

.nssf input {
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 5rem;
}

.nssf label {
    margin-right: 2rem;
}

.reset-checkbox {
    width: 10rem;
    background: #E7E8EC;
    color: black;
}

.buttons {
    width: 50rem;
    margin-top: 4rem;
}

button {
    width: 20rem;
    height: 4rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    background: #4FE3C1;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Poppins';
}

.error {
    font-family: 'Montserrat';
    color: red;
    font-size: 2rem;
    font-weight: 700;
}

.form-results {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 600;
    width: 35rem;
    margin-top: 4rem;
    border: 1px solid #E7E8EC;
    border-radius: 15px;
    padding: 1.5rem;
}

.gross-pay-result,
.nssf-result,
.income-tax-result,
.nhif-result,
.housing-Levy-result,
.net-pay-result {
    display: flex;
    justify-content: space-between;
    width: 35rem;
}

.gross-pay-title,
.nssf-result-title,
.income-tax-title,
.nhif-result-title,
.housing-Levy-title,
.net-pay-title {
    border-right: 4px solid #E7E8EC;
    width: 20rem
}

.net-pay-value {
    color: #4FE3C1;
    border-bottom: 3px solid #4FE3C1;
}

.net-pay-value,
.net-pay-title {
    font-size: 2rem;
}