html {
    font-family: 'Tilt Neon', Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
    align-items: center;
    margin: 1rem;
    border-bottom: 1px solid #e9e9ea;
}

.logo img {
    width: 20rem;
    height: 8.5rem;
}

.nav-bar {
    display: flex;
    gap: 4rem;
    width: 60rem;
}

a {
    width: 15rem;
    font-size: 2rem;
    text-decoration: none;
    color: #494e53;
    transition: 0.4s;
}

a:hover {
    padding: 0.5rem;
    color: black;
    background-color: green;
    border-radius: 2.5rem;
    font-weight: 700;
    overflow: hidden;
}

.nav-link span {
    visibility: hidden
}

.nav-link:hover span {
    margin-left: 2.5rem;
    visibility: visible;
}

.end-icons {
    display: flex;
    gap: 3rem;
    width: 10rem;
    margin-left: auto;
}

.end-icons i:hover {
    color: green !important;
    border-radius: 50%;
}