html {
    font-family: 'Tilt Neon', Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
    align-items: center;
    margin: 1rem;
    border-bottom: 1px solid #e9e9ea;
}

.logo img {
    width: 20rem;
    height: 8.5rem;
}

.nav-bar {
    display: flex;
    gap: 4rem;
    width: 60rem;
}

a {
    width: 15rem;
    font-size: 2rem;
    text-decoration: none;
    color: #494e53;
    transition: 0.1s;
}

a:hover {
    align-items: center;
    padding: 0.5rem;
    color: black;
    border-bottom: green 3px solid;
    font-weight: 700;
    overflow: hidden;
}

.nav-link span {
    visibility: hidden
}

.nav-link:hover span {
    margin-left: 2.5rem;
    visibility: visible;
}

.end-icons {
    display: flex;
    gap: 3rem;
    width: 10rem;
    margin-left: auto;
}

.end-icons i:hover {
    color: green !important;
    border-radius: 50%;
    cursor: pointer;
}

.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    background: white;
    height: 1000px;
}

.banner-info {
    height: 800px;
    width: 700px;
    background: #4FE3C1;
}

.banner-info img {
    width: 750px;
    height: 450px;
}

.content{
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1{
    font-size: 40px;
    font-weight:bolder;
}